.file-input-container {
  width: 50%; /* Ajusta este valor según lo necesites */
  margin: 0 auto;
}

.file-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.card {
  border-radius: 0.5rem;
}

.card-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ajuste de espaciado para el input de archivo */
.file-input-container .file-input {
  margin-bottom: 1rem;
}

/* Estilo para mantener campos de fecha en la misma fila y separados */
.card-body .d-flex {
  flex-wrap: nowrap;
}

.card-body .me-3 {
  margin-right: 1rem;
}

.card-body .btn-success {
  margin-top: 1rem; /* Espaciado adicional para el botón de exportar */
}

/* Estilos para los mensajes de alerta */
.alert {
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #ced4da;
}

.custom-button {
  color: #fff;
  background-color: #28a745;
}

.custom-button:hover {
  background-color: #218838;
}
