<div *ngIf="mostrarFormulario">
    <div class="formulario-overlay" (click)="cerrarFormulario()"></div>
    <div class="formulario-estudiante">
      <form (ngSubmit)="guardarEstudiante()">
        <div class="form-group">
          <label for="id">ID:</label>
          <input id="id" [(ngModel)]="estudiante.id" name="id" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input id="nombre" [(ngModel)]="estudiante.nombre" name="nombre" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="jornada">Jornada:</label>
          <input id="jornada" [(ngModel)]="estudiante.jornada" name="jornada" class="form-control" />
        </div>
        <div class="form-group">
          <label for="curso">Curso:</label>
          <input id="curso" [(ngModel)]="estudiante.curso" name="curso" class="form-control" />
        </div>
        <div class="form-group">
          <label for="especial">Especial:</label>
          <input id="especial" type="checkbox" [(ngModel)]="estudiante.especial" name="especial" />
        </div>

        
       <!-- <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input id="imagen" [(ngModel)]="estudiante.imagen" name="imagen" class="form-control" />
        </div>-->
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cerrarFormulario()">Cancelar</button>
      </form>
    </div>
  </div>
  