<div *ngIf="mostrarFormulario">
    <div class="formulario-overlay" (click)="cerrarFormulario()"></div>
    <div class="formulario-usuario">
      <form (ngSubmit)="guardarUsuario()">
      
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input id="firstname" [(ngModel)]="usuario.firstname" name="firstname" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name:</label>
          <input id="lastname" [(ngModel)]="usuario.lastname" name="lastname" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input id="username" [(ngModel)]="usuario.username" name="username" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" [(ngModel)]="usuario.password" name="password" class="form-control" />
          </div>
        <div class="form-group">
          <label for="country">Country:</label>
          <input id="country" [(ngModel)]="usuario.country" name="country" class="form-control" />
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <select id="role" [(ngModel)]="usuario.role" name="role" class="form-control">
            <option value="ADMIN">Admin</option>
            <option value="USER">User</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cerrarFormulario()">Cancelar</button>
      </form>
    </div>
  </div>
  