<div *ngIf="mostrarFormulario">
  <div class="formulario-overlay" (click)="cerrarFormulario()">
    <div class="overlay d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 formulario-usuario" (click)="$event.stopPropagation()">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Ingrese al registro de usuario</h5>
                <form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()" (click)="onFormClick($event)">
                  <p class="text-danger">{{ loginError }}</p>

                  <div class="form-floating mb-3">
                    <input 
                      formControlName="firstname" 
                      type="text" 
                      class="form-control" 
                      id="floatingFirstName" 
                      placeholder="First Name"
                      [ngClass]="{
                        'ng-invalid': firstname?.invalid && (firstname?.dirty || firstname?.touched),
                        'ng-valid': firstname?.valid && (firstname?.dirty || firstname?.touched)
                      }"
                    >
                    <label for="floatingFirstName">Nombre</label>
                    <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="text-danger">
                      <div *ngIf="firstname?.errors?.['required']">
                        El nombre es requerido
                      </div>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input 
                      formControlName="lastname" 
                      type="text" 
                      class="form-control" 
                      id="floatingLastName" 
                      placeholder="Last Name"
                      [ngClass]="{
                        'ng-invalid': lastname?.invalid && (lastname?.dirty || lastname?.touched),
                        'ng-valid': lastname?.valid && (lastname?.dirty || lastname?.touched)
                      }"
                    >
                    <label for="floatingLastName">Apellido</label>
                    <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="text-danger">
                      <div *ngIf="lastname?.errors?.['required']">
                        El apellido es requerido
                      </div>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input 
                      formControlName="username" 
                      type="email" 
                      class="form-control" 
                      id="floatingUsername" 
                      placeholder="name@example.com"
                      [ngClass]="{
                        'ng-invalid': username?.invalid && (username?.dirty || username?.touched),
                        'ng-valid': username?.valid && (username?.dirty || username?.touched)
                      }"
                    >
                    <label for="floatingUsername">Usuario</label>
                    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
                      <div *ngIf="username?.errors?.['required']">
                        El correo es requerido
                      </div>
                      <div *ngIf="username?.errors?.['email']">
                        El correo debe tener un formato válido
                      </div>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input 
                      formControlName="password" 
                      type="password" 
                      class="form-control" 
                      id="floatingPassword" 
                      placeholder="Password"
                      [ngClass]="{
                        'ng-invalid': password?.invalid && (password?.dirty || password?.touched),
                        'ng-valid': password?.valid && (password?.dirty || password?.touched)
                      }"
                    >
                    <label for="floatingPassword">Contraseña</label>
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                      <div *ngIf="password?.errors?.['required']">
                        La contraseña es requerida
                      </div>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input 
                      formControlName="country" 
                      type="text" 
                      class="form-control" 
                      id="floatingCountry" 
                      placeholder="Country"
                    >
                    <label for="floatingCountry">País</label>
                  </div>

                  <div class="form-floating mb-3">
                    <select 
                      formControlName="role" 
                      class="form-control" 
                      id="floatingRole"
                    >
                      <option value="ADMIN">Admin</option>
                      <option value="USER">User</option>
                    </select>
                    <label for="floatingRole">Rol</label>
                  </div>

                  <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Guardar</button>
                    <button class="btn btn-secondary btn-login text-uppercase fw-bold" type="button" (click)="cerrarFormulario()">Cancelar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
