<!-- a
<div class="container mt-5">
    <div class="mb-3">
      <label class="form-label">Desayuno:</label>
      <div class="d-flex">
        <mat-form-field class="me-2">
          <mat-label>Hora</mat-label>
          <mat-select>
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{ hour < 10 ? '0' + hour : hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Minutos</mat-label>
          <mat-select>
            <mat-option *ngFor="let minute of minutes" [value]="minute">
              {{ minute < 10 ? '0' + minute : minute }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Almuerzo:</label>
      <div class="d-flex">
        <mat-form-field class="me-2">
          <mat-label>Hora</mat-label>
          <mat-select>
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{ hour < 10 ? '0' + hour : hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Minutos</mat-label>
          <mat-select>
            <mat-option *ngFor="let minute of minutes" [value]="minute">
              {{ minute < 10 ? '0' + minute : minute }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Refrigerio:</label>
      <div class="d-flex">
        <mat-form-field class="me-2">
          <mat-label>Hora</mat-label>
          <mat-select>
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{ hour < 10 ? '0' + hour : hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Minutos</mat-label>
          <mat-select>
            <mat-option *ngFor="let minute of minutes" [value]="minute">
              {{ minute < 10 ? '0' + minute : minute }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  pp.component.html -->