<div class="container my-4 ">
  <!-- Componente de alerta -->
  <app-alerta></app-alerta>
  
  <!-- Encabezado de sección -->
  <h2 class="display-5 mb-3 ">Lista de asistencias</h2>
  <hr>
  
  <!-- Componente de estadísticas -->
  <div class="mb-4 ">
    <app-estadisticas></app-estadisticas>
  </div>
  
  <!-- Componente de lista de asistencias -->
  <div>
    <app-list-asistencias></app-list-asistencias>
  </div>
  
  <!-- Componente de edición (comentado) -->
  <!-- <app-editar></app-editar>-->
</div>
