<mat-card class="profile-card">
  <mat-card-header class="text-center">
    <h1 class="profile-title">Profile</h1>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-content row">
      <div class="profile-image col-12 col-md-4 text-center mb-3 mb-md-0">
        <img src="https://via.placeholder.com/150" alt="Profile Image" class="img-fluid rounded-circle">
      </div>
      <div class="profile-details col-12 col-md-8">
        <p *ngIf="errorMessage.length != 0" class="text-danger">{{errorMessage}}</p>
        <h2 class="mb-3">Usuario: {{user?.username}}</h2>
        <ng-container *ngIf="isEditMode; else displayMode">
          <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <input id="address" [(ngModel)]="address" class="form-control" />
          </div>
        </ng-container>
        <ng-template #displayMode>
          <p>Nombre: {{user?.firstname}}</p>
          <p>Rol: {{ user?.role }}</p>
          <p>ID: {{user?.id}}</p>
          <p>Pais: {{user?.country}}</p>
        </ng-template>
        <div class="d-flex justify-content-center mt-3">
          <button mat-raised-button color="accent" (click)="logOut()" class="btn btn-secondary mx-2">Cerrar Sesión</button>
          <button mat-raised-button color="accent" hidden (click)="toggleEditMode()" class="btn btn-primary mx-2">
            {{ isEditMode ? 'Cancel' : 'Edit' }}
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center mt-4">
    <ng-container *ngIf="isEditMode">
      <button mat-raised-button color="primary" (click)="saveChanges()" class="btn btn-success mx-2">Save</button>
      <button mat-raised-button color="warn" (click)="cancelEdit()" class="btn btn-danger mx-2">Cancel</button>
    </ng-container>
  </mat-card-actions>
</mat-card>