<!--filtros-->
<!--<input type="text" pInputText placeholder="Nombre" [(ngModel)]="filtros['nombre']" >
<input type="text" pInputText placeholder="Jornada" [(ngModel)]="filtros['jornada']">
<input type="text" pInputText placeholder="curso" [(ngModel)]="filtros['curso']">-->

<!-- tabla-datos.component.html -->
<!--value enlaza los datos con la tabla row el numero de filas por tabla-->
<!--<button (click)="mostrarValoresEstudiantesFiltrado()">Mostrar Valores Únicos de Nombre</button>-->

<!-- Creamos un área donde se mostrarán los valores únicos -->
<div *ngIf="uniqueValues">
  <ul>
    <!-- Iteramos sobre los valores únicos y los mostramos en una lista -->
    <li *ngFor="let value of uniqueValues">{{ value }}</li>
  </ul>
</div>
<p-table [value]="filtrarEstudianes" [rows]="10" [paginator]="true">
  <ng-template pTemplate="header">
    <!-- Encabezados de la tabla -->
    <tr>
      <th>
        <input type="text" pInputText placeholder="Nombre" (input)="aplicarFiltros()" [(ngModel)]="filtros['nombre']">
      <th> 
        <!-- Filtra por jornada -->
         <!--  [(ngModel)]="filtros['jornada']" vincula esto con un valor en la opcion seleccionada -->
          <select [(ngModel)]="filtros['jornada']" >
            <option *ngFor="let jornada of getUniqueValues('jornada')" [value]="jornada">{{ jornada }}</option>
          </select>
      </th>
      <th>
        <!-- Filtra por curso -->
        <select [(ngModel)]="filtros['curso']" >
          <option *ngFor="let curso of getUniqueValues('curso')" [value]="curso">{{ curso }}</option>
        </select>
      </th>
      <th>Imagen</th>

      <th>Acciones</th>
    </tr>

  </ng-template>
    <ng-template pTemplate="body" let-estudiante>
      <tr>
        <!-- Celdas de la tabla -->
       <td> {{ estudiante.nombre }}</td>
       <td> {{ estudiante.jornada }}</td>
       <td> {{ estudiante.curso }}</td>
       <td>
        <button (click)="cambiarEstadoImagen(estudiante)">{{ cambiarEstadoTexto(estudiante) }}</button>
        
        <!--<p>{{tokenSeleccionado }}</p>-->
      
        <!-- <button (click)="cambiarEstadoImagen(estudiante)">{{ cambiarEstadoTexto(estudiante) }}</button>-->
          <div *ngIf="estudiante.imagenVisible"> 
            <a [href]="imagenUrl" download="estudiante.png"> 
              <img [src]="imagenUrl" alt="Imagen"  (error)="handleImageError($event)">
            </a>
            <!--<p>texto {{tokenSeleccionado }}</p>-->
          </div>
        </td>
       <!--nosotros reconstruimos la imagen (load)="cargarImagen(estudiante)"> -->
        <!--<td> <img [src]="'http://localhost:8085/api/imagen/image/' + estudiante.id + '.png'" alt="Imagen">  -->
          <td>
            <!-- Botón Editar -->
            <button *ngIf="usuarioRol === 'admin'" class="btn btn-primary mr-1" (click)="editarEstudiante(estudiante)">Editar</button>
            <!-- Botón Eliminar -->
            <button *ngIf="usuarioRol === 'admin'" class="btn btn-danger" (click)="confirmarEliminacion(estudiante.id)">Eliminar</button>
          </td>
      </tr>
      
    </ng-template>
  </p-table>
  <!--<div *ngIf="mostrarAlertaEliminar"
  ></div>-->
  <app-alerta-estudiante-eliminar
  *ngIf="mostrarAlertaEliminar"
  (confirm)="eliminarEstudiante($event)" 
  (cancel)="cancelarEliminacion()"
  message="¿Está seguro de que quiere eliminar este estudiante?"
  confirmButtonText="Sí, eliminarlo"
  cancelButtonText="Cancelar">
</app-alerta-estudiante-eliminar>

  <div class="modal-overlay" *ngIf="mostrarFormularioEdicion"></div>

  <app-formulario-estudiante
  [estudiante]="estudianteParaEditar"
  (onSave)="guardarEstudiante($event)"
  (onCancel)="cancelarEdicion()"
  *ngIf="mostrarFormularioEdicion"
  
  
  ></app-formulario-estudiante>

