<p-table [value]="asistenciaFiltrada" [rows]="10" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <select [(ngModel)]="filtros['id']" (ngModelChange)="aplicarFiltros()">
          <option *ngFor="let id of getUniqueValues('id')" [value]="id">{{ id }}</option>
        </select>
      </th>
      <th>
        <select [(ngModel)]="filtros['estudiante.id']" (ngModelChange)="aplicarFiltros()">
          <option *ngFor="let estudianteId of getUniqueValues('estudiante.id')" [value]="estudianteId">{{ estudianteId }}</option>
        </select>
      </th>
      <th>
        <select [(ngModel)]="filtros['estudiante.curso']" (ngModelChange)="aplicarFiltros()">
          <option *ngFor="let curso of getUniqueValues('estudiante.curso')" [value]="curso">{{ curso }}</option>
        </select>
      </th>
      <th>
        <select [(ngModel)]="filtros['almuerzo.nombre']" (ngModelChange)="aplicarFiltros()">
          <option *ngFor="let comida of getUniqueValues('almuerzo.nombre')" [value]="comida">{{ comida }}</option>
        </select>
      </th>
      <th>
        <select [(ngModel)]="filtros['fecha']" (ngModelChange)="aplicarFiltros()">
          <option *ngFor="let fecha of getUniqueValues('fecha')" [value]="fecha">{{ fecha }}</option>
        </select>
      </th>
      
      <th>Acciones</th>
      <th>
        <!-- Botón para limpiar los filtros -->
        <button (click)="limpiarFiltros()" class="btn btn-secondary">Limpiar Filtros</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-asistencia>
    <tr>
      <td>{{ asistencia.id }}</td>
      <td>{{ asistencia.estudiante.id }}</td>
      <td>{{ asistencia.estudiante.curso }}</td>
      <td>{{ asistencia.almuerzo.nombre }}</td>
      <td>{{ formatDate(asistencia.fecha) }}</td>
      <td>
        <button class="btn btn-primary mr-1" (click)="editarAsistencia(asistencia)" [disabled]="isUserRole('USER')">Editar</button>
        <button class="btn btn-danger" (click)="confirmarEliminacion(asistencia.id)" [disabled]="isUserRole('USER')">Eliminar</button>
      </td>
    </tr>
  </ng-template>
</p-table>
