  <p></p>
 <!-- <div *ngIf="uniqueValues">
      <ul>
        <li *ngFor="let value of uniqueValues">{{ value }}</li>
      </ul>
    </div>-->
    
    <p-table [value]="filtrarAsistencia" [rows]="10" [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
        <!--asinga valores a filtro['id']= al valor seleccionado en la opcion-->
          <th>
            <select [(ngModel)]="filtros['id']"  (ngModelChange)="aplicarFiltros()">
                      <!--ciclo de todas las opciones que genera getUniqueValues-->

              <option *ngFor="let id of getUniqueValues('id')" [value]="id" >{{ id }}</option>
            </select>
          </th>
      
          <th>
            <select [(ngModel)]="filtros['estudiante']" (ngModelChange)="aplicarFiltros()">
              <option *ngFor="let estudiante of getUniqueValues('estudiante.id')" [value]="estudiante" >{{ estudiante }}</option>
            </select>
          </th>
          
          <th>
            <select [(ngModel)]="filtros['comidas']"  (change)="aplicarFiltros()">
              <option *ngFor="let comida of getUniqueValues('almuerzo.id')" [value]="comida">{{ comida }}</option>
            </select>
          </th>
          
          
          <th>
            <select [(ngModel)]="filtros['fecha']">
              <option *ngFor="let fecha of getUniqueValues('fecha')" [value]="fecha">{{ fecha }}</option>
            </select>
          </th>
        
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-asistencia>
        <tr>
          <td>{{ asistencia.id }}</td>
          <td>{{ asistencia.estudiante.id }}</td>
          <td>{{ asistencia.almuerzo.id }}</td>
          <td>{{ asistencia.fecha }}</td>
          <td>
            <button *ngIf="usuarioRol === 'ADMIN'" class="btn btn-primary mr-1" (click)="editarAsistencia(asistencia)">Editar</button>
            <button *ngIf="usuarioRol === 'ADMIN'" class="btn btn-danger" (click)="confirmarEliminacion(asistencia.id)">Eliminar</button>
        </td>        
        </tr>
      </ng-template>
    </p-table>
    <app-alerta-asistencia-eliminar
    *ngIf="mostrarAlertaEliminar"
    (confirm)="asistenciaAEliminar !== null ? eliminarAsistencia(asistenciaAEliminar) : null" 
    (cancel)="cancelarEliminacion()"
    message="¿Está seguro de que quiere eliminar este Asistencia?"
    confirmButtonText="Sí, eliminarlo"
    cancelButtonText="Cancelar">
  </app-alerta-asistencia-eliminar>
  
  <!-- Formulario de edición -->
<div class="modal-overlay" *ngIf="mostrarFormularioEdicion"></div>

<app-editar
  [asistencia]="asistenciaParaEditar"
  (onSave)="guardarAsistencia($event)"
  (onCancel)="cancelarEdicion()"
  *ngIf="mostrarFormularioEdicion"
></app-editar>


<!-- Aquí va el resto del contenido -->



