<p-table [value]="usuariosFiltrados" [rows]="10" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <select [(ngModel)]="filtros['id']" (change)="aplicarFiltros()">
          <option *ngFor="let id of uniqueValues['id']" [value]="id">{{ id }}</option>
        </select>
      </th>
      <th>
        <input type="text" pInputText placeholder="Nombre" (input)="aplicarFiltros()" [(ngModel)]="filtros['firstname']">
      </th>
      <th>
        <select [(ngModel)]="filtros['role']" (change)="aplicarFiltros()">
          <option *ngFor="let role of uniqueValues['role']" [value]="role">{{ role }}</option>
        </select>
      </th>
      <th>
        <select [(ngModel)]="filtros['country']" (change)="aplicarFiltros()">
          <option *ngFor="let country of uniqueValues['country']" [value]="country">{{ country }}</option>
        </select>
      </th>
      <th>Acciones</th>
      <th>
        <!-- Botón para limpiar los filtros -->
        <button (click)="limpiarFiltros()" class="btn btn-secondary">Limpiar Filtros</button>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>{{usuario.id}}</td>
      <td>{{ usuario.firstname }} {{ usuario.lastname }}</td>
      <td>{{ usuario.role }}</td>
      <td>{{ usuario.country }}</td>
      <td>
        <button 
          class="btn btn-primary mr-1" 
          (click)="editarUsuario(usuario)"
          [disabled]="isUserRole('USER')">
          Editar
        </button>
        <button 
          class="btn btn-danger" 
          (click)="confirmarEliminacion(usuario)"
          [disabled]="isUserRole('USER')">
          Eliminar
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-alerta-user-eliminar
    *ngIf="mostrarAlertaEliminar"
    (confirm)="eliminarUsuario()" 
    (cancel)="cancelarEliminacion()"
    message="¿Está seguro de que quiere eliminar este Usuario?"
    confirmButtonText="Sí, eliminarlo"
    cancelButtonText="Cancelar">
</app-alerta-user-eliminar>

<div *ngIf="mostrarFormularioUsuarioEdicion">
  <app-formulario-usuario
    [usuario]="usuarioParaEditar"
    (onSave)="guardarUsuario($event)"
    (onCancel)="cancelarEdicion()"
  ></app-formulario-usuario>
</div>
