<p-table [value]="usuariosFiltrados" [rows]="10" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <input type="text" pInputText placeholder="Nombre" (input)="aplicarFiltros()" [(ngModel)]="filtros['firstname']">
      </th>
     <!-- <th>
        <select [(ngModel)]="filtros['role']" (change)="aplicarFiltros()">
          <option *ngFor="let role of uniqueValues['role']" [value]="role">{{ role }}</option>
        </select>
      </th>-->
      <th>País</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>{{usuario.id}}</td>
      <td>{{ usuario.firstname }} {{ usuario.lastname }}</td>
      <td>{{ usuario.role }}</td>
      <td>{{ usuario.country }}</td>
      <td>
        <button 
          class="btn btn-primary mr-1" 
          (click)="editarUsuario(usuario)"
          [disabled]="isUserRole('USER')">
          Editar
        </button>
        <button 
          class="btn btn-danger" 
          (click)="confirmarEliminacion(usuario)"
          [disabled]="isUserRole('USER')">
          Eliminar
        </button>
    </tr>
  </ng-template>
</p-table>
<app-alerta-user-eliminar
    *ngIf="mostrarAlertaEliminar"
    (confirm)="eliminarAsistencia()" 
    (cancel)="cancelarEliminacion()"
    message="¿Está seguro de que quiere eliminar este Usuario?"
    confirmButtonText="Sí, eliminarlo"
    cancelButtonText="Cancelar">
</app-alerta-user-eliminar>

<div *ngIf="mostrarFormularioUsuarioEdicion">
  <app-formulario-usuario
    [usuario]="usuarioParaEditar"
    (onSave)="guardarUsuario($event)"
    (onCancel)="cancelarEliminacion()"
  ></app-formulario-usuario>
</div>
