  <!-- estadisticas.component.html -->
  <div>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    
      <button mat-raised-button color="primary" (click)="obtenerAsistencias()">Obtener Asistencias</button>
    </div>

    <!-- Botones para cambiar el rango de fechas -->
    <div>
      <!-- Lista desplegable para cambiar el rango de fechas -->
<mat-form-field appearance="fill">
  <mat-label>Fecha</mat-label>
  <mat-select (selectionChange)="cambiarRangoFechas($event.value)">
    <mat-option value="dia">Día</mat-option>
    <mat-option value="semana">Semana</mat-option>
    <mat-option value="mes">Mes</mat-option>
  </mat-select>
</mat-form-field>

    </div>
  

      <!-- estadisticas.component.html (continuación) -->
   <!-- estadisticas.component.html -->
<!-- estadisticas.component.html -->
<!-- estadisticas.component.html -->
<!-- estadisticas.component.html -->
<div class="chart-container">
  <app-pastel [categories]="categorias" [data]="data"></app-pastel>
  <app-barras [categories]="categoriasBarras" [data]="dataBarras"></app-barras>
  <app-linea [categorias]="categoriasLinea" [data]="dataLinea"></app-linea>
  <canvas id="historyChart" width="800" height="400"></canvas>
</div>  
<!-- 
<div>
  <label for="categoriaSelector">Selecciona una categoría:</label>
  <select id="categoriaSelector" (change)="onCategorySelectionChange($event)">
    <option *ngFor="let categoria of categoriasDisponibles" [value]="categoria">{{ categoria }}</option>
  </select>
</div>estadisticas.component.html -->

<div class="categoria-buttons">
  <button mat-raised-button color="primary" [class.selected]="selectedCategory === 'desayuno'" (click)="seleccionarCategoria('desayuno')">Desayuno</button>
  <button mat-raised-button color="primary" [class.selected]="selectedCategory === 'almuerzo'" (click)="seleccionarCategoria('almuerzo')">Almuerzo</button>
  <button mat-raised-button color="primary" [class.selected]="selectedCategory === 'refrigerio'" (click)="seleccionarCategoria('refrigerio')">Refrigerio</button>
</div>






  
  






    
    
