<div *ngIf="asistencia">
    <form>
      <div class="form-group">
        <label for="estudiante">Estudiante:</label>
        <input id="estudiante" [(ngModel)]="asistencia.estudiante.id" name="estudiante"/>
      </div>
      <div class="form-group">
        <label for="almuerzo">Almuerzo:</label>
        <input id="almuerzo" [(ngModel)]="asistencia.almuerzo.id" name="almuerzo"/>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input id="fecha" [value]="obtenerFechaFormateada()" name="fecha" type="date"/>
      </div>
      <div class="form-group">
        <button type="button" (click)="save()">Guardar</button>
        <button type="button" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
  