<!DOCTYPE html>
<html xmlns:th="http://www.thtleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
		

   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/flecha.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	</head>
	<body>
		
		    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">Comedor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/new}" class="nav-link" >Nuevo</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/listar}" class="nav-link" >Estudiantes</a>
                </li>
                 <li class="nav-item">
                    <a th:href="@{/asistencias}"  class="nav-link" >Asistencias</a>
                </li>
                 <li class="nav-item">
                    <a th:href="@{/almuerzo}" class="nav-link" >Almuerzos</a>
                </li>
                
                <li class="nav-item">
                    <a th:href="@{/mostrarQR}" class="nav-link" >Código QR</a>
                </li>
                  <li class="nav-item">
                    <a th:href="@{/mostrarExcel}" class="nav-link" >Excel</a>
                </li>
                  <li class="nav-item">
                    <a th:href="@{/mostrarDireccionIP}" class="nav-link" >direccion IP</a>
                </li>
            </ul>
        </div>
    </nav>
		<div class="container mt-4">
			<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
			
			<input type="text" id="buscador" placeholder="Filtrar por ID" data-table="miTablaEstudiantes">
	<!--	<input type="text" id="filtroID" placeholder="Filtrar por ID">-->

		
			<div style="overflow: auto; max-height: 500px;">
<!--Thymeleaf podría cambiar el ID de la tabla cuando el HTML se renderiza en el lado del servidor-->
			<table class="table" th:id="${miTablaId}">
				<thead>
					<tr>
						<th class="header-with-arrow">
			                    <div class="header-container">
			                        <span>ID</span>
			                        <!--&#x25BC; representa triangulo hacia abajo-->
			                        <button class="arrow">&#x25BC;</button>
			                    </div>
			                   <div class="options-container">
			                        <select class="filter-options" style="display: none;"></select>
			                    </div>
               			 </th>
						<th  class="header-with-arrow">
							<div class"options-container">
								<span>Nombre</span>
								<button class="arrow">&#x25BC;</button>
							</div>
							  <div class="options-container">
			                        <select class="filter-options" style="display: none;"></select>
			                   </div>
						</th>
							<th  class="header-with-arrow">
							<div class"options-container">
								<span>Jornada</span>
								<button class="arrow">&#x25BC;</button>
							</div>
							  <div class="options-container">
			                        <select class="filter-options" style="display: none;"></select>
			                   </div>
						</th>
							<th  class="header-with-arrow">
							<div class"options-container">
								<span>Curso</span>
								<button class="arrow">&#x25BC;</button>
							</div>
							  <div class="options-container">
			                        <select class="filter-options" style="display: none;"></select>
			                   </div>
						</th>
						<th>Especial</th>
						<th>Acciones</th> 
						
					     </tr>
				</thead>
				
				<tbody>
					<tr th:each="estudiante:${estudiantes}">
						<td th:text="${estudiante.id}"></td>
						<td th:text="${estudiante.nombre}"></td>	
						<td th:text="${estudiante.jornada}"></td>
						<td th:text="${estudiante.curso}"></td>
						<td th:text="${estudiante.especial}"></td>
						<td><a th:href="@{/editar/}+${estudiante.id}" class="btn btn-warning">Editar</a></td>
						<td><a th:href="@{/eliminar/}+${estudiante.id}" class="btn btn-danger">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/limpiar}" class="btn btn-primary">Limpiar</a>
			</div>
		</div>
		<!--<script src="/js/jquery-3.5.1.slim.min.js"></script>-->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-contextMenu/2.9.2/jquery.contextMenu.min.js"></script>-->

<!--<script src="/js/popper.min.js"></script>-->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/buscador.js"></script>
<script src="/js/tabladinamica.js"></script>
	</body>
</html>